.App {
	font-family: "monospace", monaco;
	display: flex;
	justify-content: center;
	height: 100vh;
	width: 100%;
	margin: -10px;
	padding-right: 100%;
	background-size: cover;
	background-image: linear-gradient(#c40069, yellow);
}

.page-container {
	padding-top: 20px;
}

.location {
	color: #dedede;
}

.input {
	font-family: "monospace", monaco;
	height: 21px;
	border: solid 1px;
	border-radius: 6px;
}

.button {
	font-family: "monospace", monaco;
	height: 25px;
	border-radius: 7px;
	border: solid 1px;
}
